@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
	scroll-behavior: smooth !important;
}

@layer base {
	body {
		@apply bg-[#212529] text-gray-50 tracking-wide;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-bold;
	}

	h1 {
		@apply text-4xl sm:text-5xl md:text-6xl;
	}

	h2 {
		@apply text-3xl sm:text-4xl;
	}
	li {
		@apply cursor-pointer;
	}
	button {
		@apply shadow shadow-black uppercase text-black;
	}
}
